@charset "UTF-8";
@import "https://fonts.googleapis.com/css?family=Dosis:200,400|Neuton:300";

body {
	background-color: black;
}

h1 {
	font-family: 'Dosis', sans-serif;
	letter-spacing: 5px;
	font-weight: 200;
	font-size: 37px;
	color: white;

	text-align: center;
	position: relative;
	top: 95px;
	left: 5px;
}

h2 {
	font-family: 'Dosis', sans-serif;
	color: white;
	letter-spacing: 2px;
	font-weight: 200;
	font-size: 25px;
	font-style: italic;

	text-align: center;
	position: relative;
	top: 420px;	
	left: -5px;
}

#wrapper {
	display: block;
	margin-left: auto;
	margin-right: auto;

	overflow: hidden;

	min-width: 640px;
	max-width: 1000px;

}

#tray {
	opacity: 0;

	display: block;
	margin-top: -106px;
	margin-left: auto;
	margin-right: auto;
}

#image-container {
	z-index: -1;

	position: relative;
	top: -649px;
	left: 50%;
  	margin-right: 50%;
  	transform: translateX(-499px); 
}

#image-container img {
	width: 1000px;
	height: auto;
	position: absolute;

	opacity: 0;
	transition: .5s opacity;
}

#token {
	position: absolute;
	top: 10px;
	z-index: -1;
}

#article_wrap {
	display: block;
	width: 500px;
	margin-left: auto;
	margin-right: auto;
}

#title {
	font-family: 'Dosis', serif;
	letter-spacing: 5px;
	font-weight: 200;
	font-size: 37px;
	font-style: italic;
	color: white;
}

#title.designer {
	margin-top: 240px;
	margin-left:490px;
	margin-bottom: 100px;
}

#title.filmmaker {
	margin-top: 253px;
	margin-left: 490px;
	margin-bottom: 150px;
}

#title.writer {
	margin-top: 253px;
	margin-left: 370px;
	margin-bottom: 150px;
}

#title.chef {
	margin-top: 250px;
	margin-left:350px;
	margin-bottom: 160px;
}

#title.alinea {
	margin-top: 260px;
	margin-left: 490px;
	margin-bottom: 150px;
}

#title.laika {
	margin-top: 250px;
	margin-left: 290px;
	margin-bottom: 150px;
}

#essay {
	text-align: justify;
	color: white;
	font-family: 'Neuton', sans-serif;
	font-weight: 300;
	font-size: 16px;
	line-height: 18px;
}

#back-button {
	position: relative;
	left: -180px;
}




/* inner workings of gallery 

dl#gallery-container { 
  position: relative;
  width: 540px;
  height: 560px;

  display: block;
  margin-right: auto;
  margin-left: auto;
}

dl#gallery-container dt{
  position: relative;
  left: 26%;

  display: inline;
  cursor: pointer;
}

dl#gallery-container dt:hover+dd, dl#gallery-container dt:focus+dd { 
  opacity:1;
}

dl#gallery-container dd { 
  position: absolute;
  margin: 0;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -45%);

  opacity: 0;
  transition: .5s opacity;
}

dl#gallery-container dt span:hover {
	background-color: #fff;
}

dl#gallery-container dt span {
	height: 15px;
	width: 15px;

	cursor: pointer;

	background-color: transparent;
	border: 2px solid;

	transition: 
	background-color .3s, color .15s, box-shadow .3s, opacity .3s;
	border-radius: 50%;
	color: #fff;
	display: inline-block;
	box-sizing: border-box;

}   */

