@charset "UTF-8";
@import "https://fonts.googleapis.com/css?family=Dosis:200,400|Neuton:300";

body {
	background-color: black;
}

h1 {
	font-family: 'Dosis', sans-serif;
	letter-spacing: 5px;
	font-weight: 200;
	font-size: 37px;
	color: white;

	text-align: center;
	position: relative;
	top: 95px;
	left: 5px;
}

h2 {
	font-family: 'Dosis', sans-serif;
	color: white;
	letter-spacing: 2px;
	font-weight: 200;
	font-size: 25px;
	font-style: italic;

	text-align: center;
	position: relative;
	top: 420px;	
	left: -5px;
}

#wrapper {
	display: block;
	margin-left: auto;
	margin-right: auto;

	overflow: hidden;

	min-width: 640px;
	max-width: 1000px;

}

#wrapper.article {
	position: relative;
}

#tray {
	opacity: 0;

	display: block;
	margin-top: -106px;
	margin-left: auto;
	margin-right: auto;
}

#background {
	z-index: -2;
	width: 1000px;
	height: auto;

	position: relative;
	left: 50%;
  	margin-right: 50%;
  	transform: translateX(-499px);
}

#background.index {
	top: -649px;
}

#background.article {
	position: absolute;
}

#background.article img {
	width: 1000px;
	height: auto;
}

/* article content defs */

#content {
	display: block;
	width: 500px;
	margin-left: auto;
	margin-right: auto;
}

#title {
	font-family: 'Dosis', serif;
	letter-spacing: 5px;
	font-weight: 200;
	font-size: 37px;
	font-style: italic;
	color: white;
}

#essay {
	text-align: justify;
	color: white;
	font-family: 'Neuton', sans-serif;
	font-weight: 300;
	font-size: 16px;
	line-height: 18px;
}

#highlight {}

#gallery {}

#gallery.filmmaker {
	padding: 5px;
	display: block;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 30px;

	width: 250px;
	height: 90px;

	text-align: justify;
	color: white;
	font-family: 'Neuton', sans-serif;
	font-weight: 300;
	font-size: 12px;
	line-height: 13px;
}

#gallery.filmmaker p {
	margin-top: -1px;
}

#gallery.filmmaker:nth-child(odd) img{
	margin-right: 7px;
	height: 91px;
	float: left;
}

#gallery.filmmaker:nth-child(even) img{
	margin-left: 7px;
	height: 91px;
	float: right;
}

#back {
	padding-top: 20px;
	padding-bottom: 70px;
}

#back img {
	width: 500px;
}

#light {
	transition: opacity .4s ease-in-out;
	opacity: 0;
}

/* index hover effect */

#container {
	z-index: -1;

	position: relative;
	top: -649px;
	left: 50%;
  	margin-right: 50%;
  	transform: translateX(-499px); 
}

#container img {
	width: 1000px;
	height: auto;
	position: absolute;

	transition: opacity .6s ease-in-out;
	opacity: 0;
	filter: alpha(opacity=0);
}

#container img.opaque {
	opacity: 1;
	filter: alpha(opacity=1);
}

/*
#title.designer {
	margin-top: 240px;
	margin-left:490px;
	margin-bottom: 100px;
}

#title.filmmaker {
	margin-top: 253px;
	margin-left: 490px;
	margin-bottom: 150px;
}

#title.writer {
	margin-top: 253px;
	margin-left: 370px;
	margin-bottom: 150px;
}

#title.chef {
	margin-top: 250px;
	margin-left:350px;
	margin-bottom: 160px;
}

#title.alinea {
	margin-top: 260px;
	margin-left: 490px;
	margin-bottom: 150px;
}

#title.laika {
	margin-top: 250px;
	margin-left: 290px;
	margin-bottom: 150px;
}
*/


/* inner workings of gallery 

dl#gallery-container { 
  position: relative;
  width: 540px;
  height: 560px;

  display: block;
  margin-right: auto;
  margin-left: auto;
}

dl#gallery-container dt{
  position: relative;
  left: 26%;

  display: inline;
  cursor: pointer;
}

dl#gallery-container dt:hover+dd, dl#gallery-container dt:focus+dd { 
  opacity:1;
}

dl#gallery-container dd { 
  position: absolute;
  margin: 0;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -45%);

  opacity: 0;
  transition: .5s opacity;
}

dl#gallery-container dt span:hover {
	background-color: #fff;
}

dl#gallery-container dt span {
	height: 15px;
	width: 15px;

	cursor: pointer;

	background-color: transparent;
	border: 2px solid;

	transition: 
	background-color .3s, color .15s, box-shadow .3s, opacity .3s;
	border-radius: 50%;
	color: #fff;
	display: inline-block;
	box-sizing: border-box;

}   */

